.tradeSelector {
  .label {
    margin-bottom: 8px;
  }

  .selector {
    display: flex;
    align-items: center;
    position: relative;
    &:focus {
      border: 1.5px solid var(--primary-purple);
    }

    .default {
      width: 100%;
      height: 42px;
      border: 1px solid var(--border-gray);
      border-radius: 4px;
      color: var(--secondary--gray);
      padding: 11px 14px;
      flex: 1;
      background-color: white;
      cursor: pointer;
      //z-index: 1;

      &:focus {
        border: 1.5px solid var(--primary-purple);
      }

      &::placeholder {
        font-weight: 500;
      }
    }

    .options {
      position: absolute;
      width: 100%;
      border: 1px solid var(--border-gray);
      border-radius: 4px;
      background-color: var(--background-gray);
      color: var(--);
      top: 50px;
      box-shadow: 2px 2px 10px 3px #0000001a;

      ul {
        margin: 6px;
        li {
          padding: 11px 14px;
          border-radius: 4px;
          cursor: pointer;
          &:hover {
            background-color: var(--primary-purple);
            color: white;
          }
        }
      }
    }

    img {
      margin-top: 3px;
      position: absolute;
      right: 16px;
    }
  }
}
