.topIncomeContainer {
  display: flex;
  gap: 16px;
  width: 100%;
  .toatalIncome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 38px;
    border: 1px solid var(--border-gray);
    border-radius: 4px;
    color: var(--secondary-gray);
    background-color: #ffff;
    width: 32%;
    height: 118px;

    span:last-child {
      margin-top: 4px;
    }

    .green {
      color: var(--secondary-green);
    }

    .red {
      color: var(--secondary-red);
    }
  }

  .averageIncome {
    display: flex;
    align-items: center;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 4px;
    background-color: #ffff;
    flex: 1;
    height: 118px;

    .verticalLine {
      width: 1px;
      height: 66px;
      background-color: var(--border-gray);
    }

    .average {
      padding-left: 38px;
      .medium-14 {
        color: var(--secondary-gray);
      }
    }

    .average1 {
      flex: 1;
    }

    .average2 {
      flex: 1;
      .bold-28 {
        color: var(--secondary-green);
      }
    }

    .average3 {
      flex: 1;
      .bold-28 {
        color: var(--secondary-red);
      }
    }
  }
}
