.dashboardContainer {
  display: flex;
  background-color: var(--background-gray);

  .dashboardBody {
    flex: 1;
    height: 100vh;

    .dashboardMain {
      margin-top: 72px;
      padding: 26px 38px 38px 38px;
      height: calc(100vh - 72px);
      overflow-y: scroll;
    }
  }
}
