.diaryContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  .navbarSection {
    display: flex;
  }
  .rightContainer {
    display: flex;
    flex-direction: column;
    margin: 72px 0 38px 38px;
    padding-right: 38px;
    width: 80%;
    overflow: auto;
    .collapse {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-top: 20px;
      gap: 8px;
      color: var(--primary-purple);
      padding-bottom: 16px;
      border-bottom: 1px solid var(--border-gray);
      .arrow {
        width: 16px;
        height: 16px;
      }
    }

    .inputSec {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 18px 24px;
      margin: 20px 0 30px 0;
    }
    .btnSec {
      display: flex;
      gap: 12px;
      .btn {
        width: 200px;
        height: 42px;
        &:hover {
          opacity: 90%;
        }
      }
    }
    .dailySec {
      display: flex;
      gap: 12px;
      margin-top: 32px;
      .dailyDiagram {
        width: 100%;
        height: auto;
        border: 1px solid var(--border-gray);
        border-radius: 4px;
      }
      .listSec {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
    }
  }
}
