@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+TC:wght@400;500;700&display=swap');

body {
  color: var(--primary-blue);
  box-sizing: border-box;
}

:root {
  /* 字體 */
  --main-font-family: 'Noto Sans TC', 'Montserrat', sans-serif;

  /* 品牌色 */
  --primary-purple: #5a40a4;
  --primary-blue: #0a1943;
  --secondary-green: #2bc0a9;
  --secondary-red: #e7483e;
  --secondary-gray: #898b8f;

  /* 輔助色 */
  --background-gray: #f6f6f6;
  --border-gray: #e0e0e0;
}

/* 字體大小定義 */
.bold-32 {
  font-size: 32px;
  font-weight: 700;
}

.bold-28 {
  font-size: 28px;
  font-weight: 700;
}

.bold-18 {
  font-size: 18px;
  font-weight: 700;
}

.bold-16 {
  font-size: 16px;
  font-weight: 700;
}

.medium-16 {
  font-size: 16px;
  font-weight: 500;
}

.regular-16 {
  font-size: 16px;
  font-weight: 400;
}

.bold-14 {
  font-size: 14px;
  font-weight: 700;
}

.medium-14 {
  font-size: 14px;
  font-weight: 500;
}

.regular-14 {
  font-size: 14px;
  font-weight: 400;
}

.medium-12 {
  font-size: 12px;
  font-weight: 500;
}

.regular-12 {
  font-size: 12px;
  font-weight: 400;
}

.primary-button {
  background-color: var(--primary-purple);
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.secondary-button {
  background-color: #ffffff;
  color: var(--primary-purple);
  border: 1.5px solid var(--primary-purple);
  border-radius: 4px;
}

/* 使用者頭像和名稱 */
.userWidget {
  display: flex;
  align-items: center;

  .userImg {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: 50% 50%;
  }

  .userInfo {
    margin-left: 12px;
    p:first-child {
      color: var(--primary-purple);
    }

    p:last-child {
      color: var(--secondary-gray);
    }
  }
}
