.dailyRecord {
  width: 322px;
  border: 1px solid var(--border-gray);
  border-radius: 4px;
  .titleSec {
    display: flex;
    align-items: center;
    color: var(--secondary-gray);
    border-bottom: 1px solid var(--border-gray);
    padding: 16px 22px;

    span:last-child {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 0;
      img {
        margin-top: 1.5px;
        width: 12px;
        height: 12px;
      }

      p:nth-child(2) {
        padding: 0 6px 0 4px;
      }
    }
  }

  .tradeList {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 14px 0 14px 22px;
    height: 175px;
    overflow: auto;
    background-color: var(--background-gray);

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background: #b5b6b8;
      border-radius: 4px;
    }
  }
}
