.historyForm {
  width: 100%;
  border: 1px solid var(--border-gray);
  padding: 24px;
  border-radius: 4px;
  background-color: white;
  ul {
    display: flex;
    li:first-child {
      width: 18%;
      text-align: center;
      border-right: 1px solid var(--border-gray);
    }

    li:nth-child(2) {
      width: 16%;
      padding-left: 5%;
    }

    li:nth-child(3) {
      width: 12%;
    }

    li:nth-child(4) {
      width: 14%;
    }

    li:nth-child(5) {
      width: 10%;
    }

    li:nth-child(6) {
      width: 10%;
    }

    li:nth-child(7) {
      flex: 1;
    }

    li:nth-child(8) {
      text-align: center;
      width: 15%;
    }
  }

  .titleBody {
    color: var(--secondary-gray);
    background-color: var(--background-gray);
    border-bottom: 1px solid var(--border-gray);
    ul {
      li {
        display: flex;
        height: 64px;
        align-items: center;
      }

      li:first-child {
        justify-content: center;
      }

      li:last-child {
        justify-content: center;
      }
    }
  }

  .mainBody {
    border-bottom: 1px solid var(--border-gray);
    overflow: auto;
    max-height: 521px;
    img {
      width: 18px;
      height: 18px;
    }
    ul {
      li {
        height: 52px;
        line-height: 52px;
        img {
          vertical-align: middle;
        }
      }
      li:first-child {
        background-color: var(--background-gray);
        color: var(--primary-purple);
      }
    }
  }

  .subBody {
    ul {
      li {
        height: 52px;
        line-height: 52px;
      }
      li:first-child {
        color: var(--secondary-gray);
        background-color: var(--background-gray);
      }
    }
  }
}
