.historyForm {
  width: 100%;
  border: 1px solid var(--border-gray);
  padding: 24px;
  border-radius: 4px;
  background-color: white;
  ul {
    display: flex;
    li:first-child {
      width: 12%;
      text-align: center;
      border-right: 1px solid var(--border-gray);
    }

    li:nth-child(2) {
      width: 10%;
      padding-left: 28px;
    }

    li:nth-child(3) {
      width: 9%;
    }

    li:nth-child(4) {
      width: 11%;
    }

    li:nth-child(5) {
      width: 7%;
    }

    li:nth-child(6) {
      width: 7%;
    }

    li:nth-child(7) {
      width: 8%;
    }

    li:nth-child(8) {
      width: 7%;
      padding-right: 40px;
    }

    li:nth-child(9) {
      width: 7%;
      padding-right: 20px;
    }

    li:nth-child(10) {
      width: 7%;
      padding-right: 40px;
    }

    li:nth-child(11) {
      width: 5%;
    }

    li:nth-child(12) {
      flex: 1;
      text-align: center;
    }
  }

  .titleBody {
    color: var(--secondary-gray);
    background-color: var(--background-gray);
    border-bottom: 1px solid var(--border-gray);
    ul {
      li {
        display: flex;
        height: 64px;
        align-items: center;
      }

      li:first-child {
        justify-content: center;
      }

      li:last-child {
        justify-content: center;
      }
    }
  }

  .mainBody {
    border-bottom: 1px solid var(--border-gray);
    ul {
      li {
        height: 52px;
        line-height: 52px;
        img {
          vertical-align: middle;
        }
      }
      li:first-child {
        background-color: var(--background-gray);
      }
    }
  }

  .subBody {
    ul {
      li {
        height: 52px;
        line-height: 52px;
      }
      li:first-child {
        color: var(--secondary-gray);
        background-color: var(--background-gray);
      }
    }
  }
}
