.header {
  display: flex;
  align-items: center;
  padding-right: 38px;
  margin-right: 38px;
  height: 72px;
  width: calc(100vw - 370px);
  border-bottom: 1px solid var(--border-gray);
  position: fixed;
  top: 0;
  background-color: white;

  .date {
    span:last-child {
      padding-left: 6px;
      color: var(--secondary-gray);
    }
  }

  .widgetSec {
    display: flex;
    gap: 18px;
    margin-left: auto;
    margin-right: 0;

    .bellWidget {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: var(--background-gray);
      img {
        width: 18px;
        height: 100%;
      }
    }

    .userWidget {
      display: flex;
      align-items: center;

      .userImg {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        aspect-ratio: 1;
        object-fit: cover;
        object-position: 50% 50%;
      }

      .userInfo {
        margin-left: 12px;
        p:first-child {
          color: var(--primary-purple);
        }

        p:last-child {
          color: var(--secondary-gray);
        }
      }
    }
  }
}
