.navbar {
  width: 340px;
  height: 100vh;
  padding: 18px 22px 0 38px;
  border-right: 1px solid var(--border-gray);
  position: relative;

  .navbarItemContainer {
    display: flex;
    flex-direction: column;
    .iconBox {
      display: flex;
      align-items: center;
      font-size: 26px;
      font-weight: 700;

      color: var(--primary-purple);
      gap: 10px;
      img {
        width: 38px;
        height: 100%;

      
   

      }
    }

    .navMenu {
      display: flex;

      flex-direction: column;
      gap: 8px;
      margin-top: 24px;

      .logoutItem {
        position: absolute;
        bottom: 20px;
        border-top: 1px solid var(--border-gray);
        padding-top: 20px;
        right: 22px;
        left: 38px;
        width: auto;
     

      }
    }
  }
}
