// 1440 * 1024
// 1vw: 14.4px
// 1vh: 10.2px

.dashBoardContainer {
  margin: 2.5vh 2.6vw 0 2.6vw;
  .chartSection {
    display: flex;
    margin-top: 16px;
    .leftChart {
      .pieChart {
        display: flex;
        flex-direction: column;
        width: 22vw;
        border-radius: 0.28vw;
        border: 1px solid rgba(224, 224, 224, 1);
        .bold-16 {
          text-align: center;
          align-items: center;
          margin: 1vh;
        }
        .line {
          border: 1px solid rgba(224, 224, 224, 1);
          width: 80%;
          margin: auto;
        }
      }
    }
    .rightChart {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(100% - 22vw);
      height: 39.3vw; 
      top: 1.56vw;
      left: 1.82vw;
      margin-left: 16px;
      border-radius: 0.28vw;
      border: 1px solid rgba(224, 224, 224, 1);
    }
  }
}
